<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/login.css">
</head>
<body>
    <h1>User Login</h1>
    <form method="POST" action="/login">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account: Register <a href="/register">Here</a</p>
    <p>Reset password <a href="/reset-password">Here</a></p>
    <!-- Option for Google Authentication -->
    <p> login with:</p>
    <a href="/auth/google" class="google-button">Google or </a>
    
    <!-- Option for Facebook Authentication -->
    <a href="/auth/facebook" class="facebook-button">Facebook</a>
</body>
</html>