<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p>Welcome to the Travel booking system</p>
    <form action="/logout" method="post">
        <li><button type="submit" class="logout-button">Logout</button></li>
    </form>
</body>
</html>